<footer class="app-footer">

  <div class="footer-container">

    <div class="footer-left">
      <div class="developer">
        <span class="label">Desarrollado por</span>
        <strong class="name">Hernández Lara Carlos Miguel</strong>
      </div>
    </div>

    <div class="footer-center">
      © {{ currentYear }} • Sistema de Gestión de Usuarios
    </div>

    <div class="footer-right">
      <button mat-icon-button class="social">
        <mat-icon>facebook</mat-icon>
      </button>

      <button mat-icon-button class="social">
        <mat-icon>alternate_email</mat-icon>
      </button>

      <button mat-icon-button class="social">
        <mat-icon>language</mat-icon>
      </button>
    </div>

  </div>

</footer>
