<mat-toolbar class="toolbar">
  <div class="toolbar-content">

    <div class="title">
      <div class="logo">
        <mat-icon>groups</mat-icon>
      </div>
      <span>Gestión de Usuarios</span>
    </div>

    <button mat-raised-button class="primary-action" (click)="abrirModal()">
      <mat-icon>person_add</mat-icon>
      Nuevo Usuario
    </button>

  </div>
</mat-toolbar>


<div class="container">


  <div class="cards-container">
    <mat-card class="user-card" *ngFor="let usuario of usuarios">

      <div class="card-header">

        <div class="avatar-large">
          <img *ngIf="usuario.foto; else inicial"
               [src]="usuario.foto">

          <ng-template #inicial>
            <span>
              {{ (usuario.nombre?.charAt(0) || '') + (usuario.apellidoPaterno?.charAt(0) || '').toUpperCase() }}
            </span>
          </ng-template>
        </div>

      </div>

      <mat-card-content class="card-body">

        <h3 class="user-name">
          {{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno}}
        </h3>

        <p class="user-username">
          @{{ usuario.username }}
        </p>

        <div class="user-info">
          <p>
            <mat-icon>phone</mat-icon>
            {{ usuario.telefono }}
          </p>

          <p>
            <mat-icon>email</mat-icon>
            {{ usuario.correo }}
          </p>
        </div>

      </mat-card-content>

      <mat-card-actions class="card-actions">
        <button mat-icon-button color="primary" (click)="UsuarioUpdate(usuario)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="UsuarioDelete(usuario.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>

    </mat-card>

  </div>

</div>
