<h2 mat-dialog-title class="modal-title custom-title">
  <mat-icon>
    {{ data.modo === 'editar' ? 'edit' : 'person_add' }}
  </mat-icon>
  {{ data.modo === 'editar' ? 'Editar Usuario' : 'Nuevo Usuario' }}
</h2>

<mat-dialog-content class="modal-content custom-content">
  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="formulario['nombre']">
      <mat-error *ngIf="formulario['nombre'].invalid && formulario['nombre'].touched">
        Nombre es obligatorio y mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput [formControl]="formulario['apellidoPaterno']">
      <mat-error *ngIf="formulario['apellidoPaterno'].invalid && formulario['apellidoPaterno'].touched">
        Apellido Paterno es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido Materno</mat-label>
      <input matInput [formControl]="formulario['apellidoMaterno']">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput [formControl]="formulario['telefono']">
      <mat-error *ngIf="formulario['telefono'].invalid && formulario['telefono'].touched">
        Teléfono obligatorio, solo 10 números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput [formControl]="formulario['correo']">
      <mat-error *ngIf="formulario['correo'].invalid && formulario['correo'].touched">
        Ingresa un correo válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="formulario['username']">
      <mat-error *ngIf="formulario['username'].invalid && formulario['username'].touched">
        Username obligatorio, mínimo 4 caracteres
      </mat-error>
    </mat-form-field>

    <div class="avatar-upload">

      <div class="avatar-preview" (click)="fileInput.click()">
        <img *ngIf="usuarioForm.value.foto; else placeholder"
             [src]="usuarioForm.value.foto">

        <ng-template #placeholder>
          <span class="initial">
            {{((formulario['nombre'].value?.charAt(0) || '') +(formulario['apellidoPaterno'].value?.charAt(0) || '')).toUpperCase() || '?'}}
          </span>
        </ng-template>

        <div class="overlay">
          <mat-icon>photo</mat-icon>
        </div>
      </div>

      <input #fileInput type="file"
             (change)="onFileSelected($event)"
             accept="image/*"
             hidden>

      <span class="hint">Haz clic para cambiar foto</span>

    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>

  <button mat-raised-button color="primary" [mat-dialog-close]="usuarioForm.valid ? usuarioForm.value : null"
          [disabled]="usuarioForm.invalid">
    Guardar
  </button>

</mat-dialog-actions>
